# Semana 02
Vera Yauri Victor

Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por el teclado
    5. Operadores

5. Operadores

In [1]:
# 5.1 Operadores Aritméticos
# Se tiene: +, -, *, /...

In [2]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2

print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [3]:
# 5.2 Operadores de asignación
# Se tiene: =, +, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [4]:
# Potencia
numero = 5
numero = numero ** 3
print(numero)

125

In [5]:
# 5.3 Operadores de comparación
# Se tiene: ==, !=, <, >, <=, >=

In [6]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [7]:
# Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [8]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [9]:
numero1 < numero2

True

In [10]:
# El not invierte elresultado
not(numero1<numero2)

False

In [11]:
numero1 < numero2 and numero3 < numero4

True

In [12]:
# Tambien puedes utilizar parentesis para ordenar tu operación
(numero1 < numero2 and numero3 < numero4) or (numero3 > numero4)

True

In [13]:
# 5.5 Operadores de pertenencia
# Se tiene: in, not in

In [14]:
#Ejemplo:
aula = ["Lucero", "Dylan", "Angel"]
alumno1 = "Melany"
alumno2 = "Gustavo"

In [15]:
# ¿Melany está en aula?
alumno1 in aula

False

In [16]:
# ¿ Gustavo está en aula?
alumno2 in aula

False

In [17]:
# ¿Melany no está en aula?
alumno1 not in aula

True

In [18]:
# ¿Gustavo no está en aula?
alumno2 not in aula

True

In [19]:
# 5.6 Operadores de identidad
# Se tiene, is, is not

In [20]:
aula1 = ["Lucero", "Dylan", "Angel"]
aula2 = ["Lucero", "Dylan", "Angel"]
# A continuación vamos a indicar que aula3 va a comparti el mismo objeto que aula1
aula3 = aula1

In [21]:
# ¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [22]:
# ¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [23]:
# ¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [24]:
aula1.append("Pedro")

In [25]:
# Al imprimr los elementos de la lista aula1 se observa
print(aula1)

['Lucero', 'Dylan', 'Angel', 'Pedro']

In [26]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Lucero', 'Dylan', 'Angel', 'Pedro']

In [27]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Lucero', 'Dylan', 'Angel']