# Semana 02
Vera Yauri Victor

Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por el teclado
    5. Operadores

3. Manejo de Cadenas

In [1]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [2]:
# Universidad Nacional Tecnológica de Lima Sur
# 01234_______________________________________-2 -1

In [3]:
cadena[5]

'r'

In [4]:
cadena [10]

'd'

In [5]:
# Tambien considera los espacios en blanco

In [6]:
cadena[11]

' '

In [7]:
# ¿Qué me mostrará?
cadena [-5]

'a'

In [8]:
cadena[21]

'T'

In [9]:
# Tambien lo puedo mostrar accediendo de manera inversa

In [10]:
cadena[-23]

'T'

In [11]:
# Para mostrar una subcadena[desde, hasta una antes]

In [15]:
cadena[3:8]

'versi'

In [13]:
cadena[3:8]

'versi'

In [16]:
# Para saber el tamaño de una cadena utilizamos len()
# incluye espacios en blanco
len(cadena)

44

In [20]:
# Para mostrar una cadena en mayñúsculas utilizamos .upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [21]:
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [22]:
# Si deseo cambiar una cadena en letra minúsculas utilizamos .lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [23]:
# Generar una lista a partir de una cadena .split()
cadena.split()

['Universidad', 'Nacional', 'Tecnológica', 'de', 'Lima', 'Sur']

In [25]:
# Generar una lista utilizando un criterio de separación a partir de una cadena .split()
# Vamos a generar una lista de toda la cadena, utilizar como criterio de separación: letra "A"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnológic', ' de Lim', ' Sur']

In [26]:
# Imprimir dando formato
# forma clásica "+"
# .format()
# f

In [27]:
# Forma clásica, contatenar con +
nombre = "Victor Vera"
print("Buenos días " + nombre)

Buenos días Victor Vera

In [28]:
# Utilizando el .format()
nombre = "Rivi Rivi"
edad = 30
print("Hola {} ya sé que tienes {} años".format(nombre, edad))

Hola Rivi Rivi ya sé que tienes 30 años

In [30]:
# Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}" . format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [31]:
# Dar formato con f
nombre = "Victor Vera"
edad = 19
print(f"Buenos días {nombre}, ya sé que tienes {edad} años")

Buenos días Victor Vera, ya sé que tienes 19 años

In [32]:
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333